.container {
  transition: 0.3s all;
  border-radius: 8px;
  background: var(--purple);
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Josefin Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
  user-select: none;
}

.container:hover {
  transition: 0.3s all;
  background: var(--button-hover);
  border-radius: 8px;
  color: var(--purple);
  cursor: pointer;
}

.container:active {
  background: var(--Brand-900, #42307D);
  color: white;
}
